.headerContainer{
    height: 122px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    width: 1384px;
    height: 72px;
    position: relative;
    display: flex;
    align-items: center;
}
.logo{
    height: 100%;
    width: 71px;
    background-image: url(../../../public/images/Logo.png);
    cursor: pointer;
}
.header button{
    width: 127px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 57px;
    background-color: #339933;
    color: #FFF;
    border: none;
    cursor: pointer;
}
.links{
    width: 330px;
    height: 20px;
    margin-left: 592px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 800;
    line-height: 130%;
    justify-content: space-between;
    cursor: pointer;
}
.links a{
    text-decoration: none;
}
.products{
    margin-left: 20px;
}
.bag{
    position: absolute;
    right: 0;
    top: 21px;
    cursor: pointer;
}
.cartAmount{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: #FF32A1;
    color: #FFF;
}
.cartHidden{
 visibility: hidden;
}

.animationElem{
    position: absolute;
    background-size: contain;
    animation: animateCircke 0.5s forwards;
    animation-timing-function: cubic-bezier(.63,.26,.9,.49);
    height: 300px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    
}
@keyframes animateCircke{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1; 
    }
    50%{
    opacity: 1;
     }
    100%{
    top: 23px;
    left: 1354px;
    width: 20px;
    height: 20px;
    opacity: 0;
   }
}

.swallow{
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 1329px;
}
.swallow div{
    width: 20px;
    height: 20px;
    background-color: #FF32A1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation: animationSwallow 1s forwards;
    font-size: 16px;
}
@keyframes animationSwallow{
    0%{

    }
    50%{
        width: 20px;
        height: 20px;
        font-size: 17px;
    }
    75%{
        width: 50px;
        height: 50px;
        font-size: 40px;
    }
    100%{
        width: 20px;
        height: 20px;
    }
}
